a {
	display: none;
}
.pustaLista {
	font-size: 15px;
	justify-content: center;
	display: grid;
	margin: 0 auto;
}

.list {
	display: grid;
	box-sizing: border-box;
	grid-template-columns: 100vw;
	border-top: 1px solid white;
	width: 100%;
	background-color: rgba(41, 166, 220, 0.1);
	overflow: hidden;
}
.list-item {
	display: grid;
	box-sizing: border-box;
	background-color: rgba(41, 166, 220, 0.5);
	margin: 0 10px;
	padding: 1px 10px;
	grid-template-columns: 30px auto 50px 50px;
	max-width: 100%;
	gap: 5px;
	font-size: 15px;
	align-items: center;
	cursor: pointer;
	overflow-x: hidden;
	word-wrap: break-word;
	transition: 0.2;
	-webkit-transition: 0.2;
	-moz-transition: 0.2;
	-ms-transition: 0.2;
	-o-transition: 0.2;
	user-select: none;
	overflow: hidden;
}
.list-item-data {
	justify-self: left;
}

.img {
	justify-self: left;
}
.selected {
	background-color: rgba(0, 255, 0, 0.7);
	font-weight: bolder;
}
.size {
	font-size: 10px;
	justify-self: right;
}
img {
	width: 100%;
}
.list:last-child svg {
	justify-self: right;
}
.size {
	justify-self: right;
}

.openInput {
	display: none;
}
